USE [master]
GO
/****** Object:  Database [DesktopEmployeeTask]    Script Date: 9/2/2021 3:43:37 PM ******/
CREATE DATABASE [DesktopEmployeeTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DesktopEmployeeTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DesktopEmployeeTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DesktopEmployeeTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DesktopEmployeeTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DesktopEmployeeTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DesktopEmployeeTask]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 9/2/2021 3:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NULL,
	[EmployeeSalary] [int] NULL,
	[EmployeeAddress] [nvarchar](50) NULL,
	[EmployeeContact] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spAddNewEmployee]    Script Date: 9/2/2021 3:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[spAddNewEmployee]
@EmployeeName nvarchar(50),  
@EmployeeSalary int,  
@EmployeeAddress nvarchar(50),  
@EmployeeContact nvarchar(50)  
as  
begin  
insert into tblEmployee (EmployeeName,EmployeeSalary,EmployeeAddress,EmployeeContact)
values (@EmployeeName,@EmployeeSalary,@EmployeeAddress,@EmployeeContact)
end
GO
/****** Object:  StoredProcedure [dbo].[spDeleteEmployeeById]    Script Date: 9/2/2021 3:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[spDeleteEmployeeById]
@id int
as
begin
delete  from tblEmployee where EmployeeID=@id
end
GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeeById]    Script Date: 9/2/2021 3:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spGetEmployeeById]
@id int
as
begin
select * from tblEmployee where EmployeeID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[spGetEmployees]    Script Date: 9/2/2021 3:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spGetEmployees]
AS
begin
select * from tblEmployee
end
GO
/****** Object:  StoredProcedure [dbo].[spUpdateEmployeeById]    Script Date: 9/2/2021 3:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spUpdateEmployeeById]
@Id int,
@Name nvarchar(50),
@Salary int,
@Address nvarchar(50),
@Contact nvarchar(50)
as
begin
update tblEmployee
set
EmployeeName=@Name,EmployeeSalary=@Salary,EmployeeAddress=@Address,EmployeeContact=@Contact
where
EmployeeID=@Id
end
GO
USE [master]
GO
